[submodule "lib/tree-sitter"]
	path = lib/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter.git
[submodule "lib/tree-sitter-cup"]
	path = lib/tree-sitter-cup
	url = https://github.com/numpad/tree-sitter-cup.git
